/*body e * */
body{margin: 1px;
}
.info{background-image: url(img/univ.jpg) ;background-size: 100%;background-attachment: fixed; }
/*menu------------------------------------------------------*/
#logo{width: 50px;height: 50px;}

#logo{animation:logos 5s 0s infinite normal;animation-iteration-count: infinite;}
@keyframes logos{
  from {transform: rotate(0turn);}
  to {transform: rotate(1.0turn);}
  }

.container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
}

.links {
  position: absolute;
  top: 0;
  right: 0;

}

.links a {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.links a:hover {
  color: grey ;
  text-shadow: 10 10 5 #4949d0;

 }
a{text-decoration: none;color: white}

/*fim do menu------------------------------------------------------*/

/*inicio das formataçoes comuns muito usadas------------------------------------------------------*/
h2{font-family: Arial, Helvetica, sans-serif;}
h3{font-family: Arial, Helvetica, sans-serif;}
p{font-family: 'Courier New', Courier, monospace;}
.link{display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 100px;
    align-items: center;
    background: rgba(0,0,0,0.6);
    border: 5px black solid;
    border-radius: 5px;
    min-width: 238px;
    }
.link p{padding-left:2em;}

.linksinfo{ width: 20%;margin-top: 90px;padding: 10px;
    }

.imgs{width: 140px;}

.continfo{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;}

.cont {
    color: white;
    font-size: 19px;
    /*ajudou mas prejudicou a pagina falando antes do big bang*/
    display: flex;
    justify-content: center;

  }

  .imgq{border: black 2px solid;
        border-radius: 15px;
        width: 90%;
        position: static;}

/*fim das formataçoes comuns muito usadas------------------------------------------------------*/

/*inicio do home------------------------------------------------------*/

.imgeuler{padding: 0px 100px;}

/*fim do home------------------------------------------------------*/

hr {border-color: rgba(255, 255, 255, 0.5);}

.divh {
  border-radius: 15px;
   height: 437px;
   border: black 2px solid;
   width: 600px;
   margin: 0px 20px;
   background: url(img/euler.jpg)no-repeat;
   background-position: center;
   background-size: 100% 100%;
}

/*inicio do contato------------------------------------------------------*/
#ci{
  border-radius:50%;
  border: 5px  grey solid;
  width: 250px; 
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;/*-hidden,auto-*/
      }
.center{display: flex;
    justify-content: center;
    align-items: center;}

#programador{
width: 250px; 
height: 250px;
}

/*fim do contato------------------------------------------------------*/
/*inicio aplicando proporçoes para telefones------------------------------------------------------*/
@media (max-width:768px) 
{
  *{font-size: 12px;}
  .continfo{width: 320px;display: flex;flex-direction: column;align-items: center}
  .continfo p{text-align: center;}

  .divh {
    border-radius: 15px;
     height: 170px;/*437px*/
     border: black 2px solid;
     width: 270px; /*750px*/
     margin: 0px 0px;
     background: url(img/euler.jpg)no-repeat;
     background-position: center;
     background-size: 100% 100%;
     
  }
  
.cont {
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

.imgq{
  border-radius: 15px;
   height: 170px;/*437px*/
   border: black 2px solid;
   width: 300px; /*750px*/
   margin: 0px 0px;
   background: url(img/euler.jpg)no-repeat;
   background-position: center;
   background-size: 100% 100%;
   
}
.imgs{width: 80px;max-width:140px;}

.detal{text-align: left;}

.info{background-image: url(img/univ.jpg);background-attachment: fixed;background-size: 1000%; }
  
.link{display: flex;
  flex-direction: row;
  font-size: 18px;
  height: 100%;
  width: 240px;
  align-items: center;
  background: rgba(0,0,0,0.6);
  border: 5px black solid;
  border-radius: 5px;
  overflow: hidden;
  
  }
.link p{padding-left: 2em;font-size: 11px;}

.linksinfo{ width: 30%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
}
@media (min-width:768px) and (max-width:1440px)
{
  .link{font-size: 11px;}
}
@media (min-width:768px) and (max-width:1024px)
{
  .divh{
    width: 90%;
    height: 80%;}
}

/*fim aplicando proporçoes para telefonesdo contato------------------------------------------------------*/
